body {
	background-color: $white;
	font-size:$font-size-small;
	line-height: $base-line-height;
	height:100%;
	margin:0;
}

.container-fluid {
    padding: 0!important;
}

.header {
	height:50%;
	min-height:500px;
  /*background-image: url('assets/images/whiteplanks-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  position: relative;
  background-color: $secondary;
/*-webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%, 0% 38%);
clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%, 0% 38%);*/
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index:-1;
}

.description {
  text-align: center;
}

.description h1 {
  color: $black;
 
}

.description p {
  color: $black; 
font-size:$font-size-small;
}

.description button {
  border:1px solid $accent1;
  background:$accent1;
  border-radius: 0;
  color:$white;

	&:hover {
	  border:1px solid $white;
	  background:$white;
	  color:$black;
	}
}

.carousel-inner > .item > img{
margin:auto;
width:100%
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: $font-size-small;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
    border-radius: 0;
}

.features .btn {
  background-color: $accent1;
  border: 1px solid $accent1;
  color: $white;
  margin-top: 20px;

		&:hover {
 		 background-color: $secondary;
  		border: 1px solid $secondary;
	}
}

.page-footer {
  background-color: $footer-color;
  color: $darkgrey;
  padding: 60px 0 30px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
