.navbar {
	background: $accent1;	   
}

.nav-link,.navbar-brand {
  color: $white !important;
  cursor: pointer;

}

.nav-link {
  margin-right: 1em !important;  
}

.nav-link, .navbar-brand  {
	
	font-size: $font-size-small;	
	text-decoration:none;


	&:hover{
		color: $black !important;
	}	

}

li.current-menu-item a  {
	color: $darkgrey !important;
}

.navbar-collapse {
  justify-content: flex-end;
}



.topnav ul {	
			padding-top: 1rem;
			list-style-type: none;

			
				li {
						font-size: $font-size-small;

							a {
									color: $black;
									text-decoration:none;
									
								&:hover{
								color: $secondary;
								
				
			}
		}
	}
}
