.nav-link, .navbar-brand  {
	
	font-size: $font-size-small;
	color: $black !important;
	text-decoration:none;

	&:hover{
		color: $secondary !important;
	}	

}

li.current-menu-item a  {
	color: $accent1 !important;
}

.topnav  {
		display: flex;	
		
		width: 100%;
		background-color: transparent;
		top:0;
		padding-top:3%;
		justify-content: center;

	ul  {
			display: flex;
			list-style-type: none;
			
				li {
						font-size: $font-size-small;
						


							a {
									color: $black;
									text-decoration:none;
									padding:.5rem;
								&:hover{
								color: $secondary;
								
				}

			}
		}
	}
}
