/*$primary: #f7e4dd;
$primary-light: lighten(#f7e4dd, 30%);
$secondary: #919e87;
$accent1: #e5c4bb;*/
$white: #ffffff;
$black: #000000;
$darkgrey:#cccccc;
$footer-color:#222222;

$primary: rgba(242, 215, 238, 1);
$secondary: rgba(211, 188, 192, 1);
$accent1: rgba(165, 102, 139, 1);
$accent2: rgba(105, 48, 109, 1);
$accent3: rgba(14, 16, 61, 1);

$font-stack:   Roboto, sans-serif;

$font-size-xsmall: 0.5em;
$font-size-small: 1em;
$font-size-medium: 1.8em;
$font-size-large: 2em;

$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-bolder: bolder;

$base-line-height: 1.5;
$header-line-height: 1.25;

