/* RGB */
$primary-background-color: rgba(255, 234, 221, 1);
$primary: rgba(238, 215, 197, 1);
$secondary: rgba(200, 159, 156, 1);
$accent1: rgba(179, 106, 94, 1);
$white: #ffffff;
$black: #000000;
$darkgrey:#cccccc;
$footer-color:#222222;

$font-stack:   Roboto, sans-serif;

$font-size-xsmall: .8rem;
$font-size-small: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.4rem;

$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-bolder: bolder;

$base-line-height: 1.5;
$header-line-height: 1.25;

