/* Coolors Exported Palette - coolors.co/f2d7ee-d3bcc0-a5668b-69306d-0e103d */

/* HSL */
$color1: hsla(309%, 51%, 90%, 1);
$color2: hsla(350%, 21%, 78%, 1);
$color3: hsla(325%, 26%, 52%, 1);
$color4: hsla(296%, 39%, 31%, 1);
$color5: hsla(237%, 63%, 15%, 1);

/* RGB */
$color1: rgba(242, 215, 238, 1);
$color2: rgba(211, 188, 192, 1);
$color3: rgba(165, 102, 139, 1);
$color4: rgba(105, 48, 109, 1);
$color5: rgba(14, 16, 61, 1);